#email-toast {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s ease;
}

#email-toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
