@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-blackish: #222222;
  --color-whiteish: #f4f4f4;
  --color-khaki: #f0e68c;
  --color-lightblue: #add8e6;
  --color-lightgreen: #90ee90;
  --color-lightpink: #ffb6c1;
  --color-lightcyan: #e0ffff;
  --color-lightsalmon: #ffa07a;
  --color-lightsteelblue: #b0c4de;

  --animate-stagger: fadeInUp 0.6s ease forwards;
  --animate-fade: fade 2s ease forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 96%, 0.1);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a4;
}

.animate-stagger {
  animation-delay: calc(var(--delay-base, 0s) + var(--i) * 0.1s);
}
